body {
  background: -moz-radial-gradient(center, circle cover, white 0%, #d9eeee 100%);
  background-color: #d9eeee;
}

div {
    font-size:small;
}

/*
.reveal body {
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
}
*/

.reveal h1,
.reveal h2 {
  color: #006491;
}

.reveal table {
  border-collapse: collapse;
  border-style: none;

}

.reveal table th,
.reveal table td {
  border-bottom-style: none;
}

/*
.reveal table th {
  background-color: #c2d0dd;
  color: white;
}
*/

.reveal table tbody tr:nth-child(odd) {
  background-color: white;
}


.fa-rhf { color : #006491;}

mark {
    background-color: #006491;
    color: white;
    font-size: 75%;
}

html {
    font-size: 75%;
}

p {
  font-size: 75%;
}