body {background-color: #d9eeee;}

div {
    font-size:small;
}

/*
ul {
 font-size: 0.5em;
}
*/

.reveal table {
  border-collapse: collapse;
  border-style: none;

}

.reveal table th,
.reveal table td {
  border-bottom-style: none;
}

.reveal table th {
  background-color: #006491;
  color: white;
}

.reveal table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.fa-rhf { color : #006491;}

mark {
    background-color: #006491;
    color: white;
    font-size: 75%;
}

html {
    font-size: 75%;
}

p {
  font-size: 75%;
}