body {background-color: #d9eeee;}

div {
    font-size:small;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  color: #006491;
}

.reveal table {
  border-collapse: collapse;
  border-style: none;

}

.reveal table th,
.reveal table td {
  border-bottom-style: none;
}

.reveal table th {
  background-color: #c2d0dd;
  color: white;
}

.reveal table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}


.fa-rhf { color : #006491;}

mark {
    background-color: #006491;
    color: white;
    font-size: 75%;
}

html {
    font-size: 75%;
}

p {
  font-size: 75%;
}